<% if user_signed_in? %>
<% end %>

<% if @positions.size > 0 %>
  <% @positions.each do |position| %>
    <div class="section">
      <section class="row position-row">
        <div class="row">
          <h2 class="text-center add-margin-bottom"><%= position.name %></h2>        
        </div>
        <% if position.candidates.size > 0 %>
            <% sorted_candidates = position.candidates.sort_by { |candidate| candidate.votes.size } %>
            <% sorted_candidates.reverse.each do |candidate| %>
              <div class="large-4 medium-6 columns left">
                    <%= image_tag candidate.avatar_url.to_s, class:"large-6 medium-6 columns thumbnail-circle"%>
                    <div class="large-6 columns">
                      <h4><%= link_to "#{candidate.last_name}, #{candidate.first_name}",
                                  position_candidate_path(position, candidate)%></h4>
                      <blockquote class="">
                        <%= candidate.slogan %>
                      </blockquote>
                      <p><b><%= candidate.votes.size %></b> votes</p>
                    </div>
              </div>
            <% end %>
        <% else %>
          <p class="text-center">There no candidates.</p>
        <% end %>
      </section>
    </div>
  <% end %>

<% else %>
  <p class="text-center">There are no positions and candidates.</p>
<% end %>
