<h2><%= @position.name %></h2>
<%= link_to 'Back', positions_path %>
<%= link_to 'Edit', edit_position_path(@position) %>

<h3>Candidates</h3>
<%= link_to 'Add', new_position_candidate_path(@position, @comment) %>
<%= render 'candidates' %>
