<section class="row">
  <div class="desc">
    <h2>Profile</h2>
  </div>
  <h4><%= "#{current_user.last_name}, #{current_user.first_name}" %></h4>
  <h4> Gender: <%= current_user.gender %> </h4>
  <h4> Birthdate: <%= current_user.birthday.strftime('%m/%d/%Y') %> </h4>

  <div class="desc">
    <h3>Votes (<%= current_user.votes.size %>)</h3>
  </div>

  <section class="no-line-height">
    <% if current_user.votes.size > 0 %>
        <% current_user.votes.each do |vote| %>
            <h4><%= "#{vote.candidate.last_name}, #{vote.candidate.first_name}" %></h4>
            <p class="subheader">Running for <%= vote.candidate.position.name %></p>
            <b>Comments:</b>
            <blockquote class="indent"><%= vote.comment %></blockquote>
        <% end %>
    <% else %>
      <p>You have no votes yet.</p>
    <% end %>
  </section>

</section>
