<section class="row">
  <div class="desc">
    <h2>Profile</h2>
  </div>

  <div class="row">
    <div class="bar"></div>
    <div class="card">
      <div class="large-4 medium-4 columns">
        <% if "#{@user.gender}" == 'male' %>
          <%= image_tag 'male.jpg' %>
        <% else %>
          <%= image_tag 'female.jpg' %>
        <% end %>
      </div>
      <div class="large-8 medium-8 columns left">
         <h3><%= "#{@user.last_name}, #{@user.first_name}" %></h3>
        <h4><%= @user.birthday.strftime('%m-%d-%Y') %> </h4>
      </div>

      </div>
    </div>
  </div>
  <% if @user.role == 'user' and @user == current_user %>
    <div class="desc">
      <h3>Votes (<%= @user.votes.size %>)</h3>
    </div>

    <section class="big-margin-bottom">
      <% if @user.votes.size > 0 %>
        <table>
          <thead>
            <tr>
              <th class="text-center" width="35%">Candidates</th>
              <th class="text-center">Comments</th>
            </tr>
          </thead>


          <tbody>
            <% @user.votes.each do |vote| %>
              <tr>
                <td>
                  <h5><%= "#{vote.candidate.last_name}, #{vote.candidate.first_name}" %></h5>
                  <p class="subheader">Running for <%= vote.candidate.position.name %></p>
                </td>
                <td>
                  <p><%= vote.comment %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>You have no votes yet.</p>
      <% end %>
    </section>
  <% end %>
</section>
