<section class="row">
  <%= form_for [@position, @candidate] do |f| %>
  <%= f.file_field :avatar %>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder:'Dela Cruz' %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder:'Juan' %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :slogan %>
        <%= f.text_area :slogan, placeholder:'Honesty is the best policy.' %>
      </div>
    </div>

    <%= f.submit 'Save', class: 'button radius small' %>
  <% end %>
</section>
