<section class="row">
  <div class="desc">
    <h2>Candidates</h2>
  </div>
  <% if user_signed_in? and current_user.is_admin? %>
    <a href="#" data-reveal-id="position-modal" class="small button radius large-12 columns min-top-margin">Create Position</a>
  <% end %>
  <% if @positions.size > 0 %>
    <% @positions.each do |position| %>
      <h2 class="small-margin-bottom">
        <% if user_signed_in? and current_user.is_admin? %>
          <%= link_to position.name, position %>
        <% else %>
          <%= position.name %>
        <% end %>
      </h2>
      <div class="indent">
        <% if position.candidates.size > 0 %>
          <% sorted_candidates = position.candidates.sort_by { |candidate| candidate.votes.size } %>
          <% sorted_candidates.reverse.each do |candidate| %>
            <h4><%= link_to "#{candidate.last_name}, #{candidate.first_name}",
                        position_candidate_path(position, candidate) %></h4>
            <p><b><%= candidate.votes.size %></b> votes</p>
          <% end %>
      </div>
      <% else %>
        <p>There no candidates.</p>
      <% end %>
    <% end %>
  <% else %>
    <p>There are no positions and candidates.</p>
  <% end %>
</section>

<%= render 'positions/form' %>
