<h2><%= "#{@candidate.last_name}, #{@candidate.first_name}" %></h2>
<p>Position: <%= @candidate.position.name %></p>
<p><i><%= @candidate.slogan %></i></p>
<b>Votes: <%= @candidate.votes.size %></b>
<br>
<% if user_signed_in? %>
  <% unless current_user.did_vote? @candidate %>
    <a href="#" data-reveal-id="vote-modal" class="small button">Vote</a>
    <%= render 'votes/form' %>
  <% else %>
    <a href="#" class="small button disabled">Already Voted</a>
  <% end %>
<% end %>
