<section class="row">
  <div class="desc">
    <h2><%= "#{@candidate.last_name}, #{@candidate.first_name}" %></h2>
    <h3 class=subheader>Running for <%= @candidate.position.name %></h3>
  </div>

  <div class="row">
    <%= image_tag @candidate.avatar_url.to_s, class:"large-6 columns thumbnail"%>
    <div class="large-6 columns candidate">
      <blockquote class="">
        <%= @candidate.slogan %>
      </blockquote>
      <b>Total Votes:</b> <%= @candidate.votes.size %>
      <br>
      <b>Male Votes:</b> <%= @candidate.male_votes.size %>
      <br>
      <b>Female Votes:</b> <%= @candidate.female_votes.size %>

      <br><br>
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <a href="#" data-reveal-id="edit-candidate-modal" class="small button radius">Edit Candidate</a>
          <%= link_to 'Delete Candidate', position_candidate_path(@candidate.position, @candidate), method: :delete, class: 'small button' %>
        <% else %>
          <% unless current_user.did_vote? @candidate %>
            <a href="#" data-reveal-id="vote-modal" class="small button radius">Vote</a>
            <%= render 'votes/form' %>
          <% else %>
            <a href="#" class="small button disabled">Already Voted</a>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<div id="edit-candidate-modal" class="reveal-modal medium" data-reveal aria-labelledby="Candidate" aria-hidden="true" role="dialog">
  <h2 class="text-center small-margin-bottom">Edit Candidate</h2>
    <div class="row">
      <div class="large-8 medium-8 large-centered medium-centered columns">
        <%= form_for [@candidate.position, @candidate] do |f| %>
        <%= f.file_field :avatar %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder:'Dela Cruz' %>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 large-centered medium-centered columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder:'Juan' %>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 large-centered medium-centered columns">
        <%= f.label :slogan %>
        <%= f.text_area :slogan, placeholder:'Honesty is the best policy.' %>
        <%= f.submit 'Save', class: 'button radius small' %>
      </div>
    </div>

  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
