<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'VotePH', root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? %>
          <li ><%= link_to current_user.email, current_user %></li>
          <li ><%= link_to 'View Candidates', candidates_path %></li>
          <% if current_user.role == 'admin' %>
            <li ><%= link_to 'View Voters', voters_path %></li>
          <% end %>
          <li class="firm active">
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li class="active"><%= link_to 'Sign in', new_user_session_path %></li>
          <li ><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
