<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VotePH" %></title>
    <%= favicon_link_tag %>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.min.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="fullpage">
      <div class="section active">
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/flash' %>
      </div>
      <div class="section">
        <%= yield %>
      </div>
      <div class="section">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    

    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <%= javascript_include_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.min.js"></script>
  </body>
</html>
